footer
  //- include ../_includes/_totop
  .contentInner
    //- a(href="https://www.meganeichiba.jp")
    //-   img.copyRight(src=site.path + 'foot_logo.svg', alt='眼鏡市場' width='70.56' height='80' decoding='async' loading='lazy')
  //- p.copyRight Copyright &copy; #{new Date().getFullYear()} #{head.copyright} All Rights Reserved.
