<!-- ブロック：そのほかのお部屋スライド -->
-
  let other = content.other ? content.other : [];

section#roomOther
  .contentInner
    h2.c_ttl_h2.scrollIn.up そのほかのお部屋
  +sliderThreeColmTypePlan(item, other, index)

<!--/ブロック：そのほかのお部屋スライド -->
