-
  common = {
      head: {
      name        : '『見えるに、エールを。』特設サイト',
      domain      : 'https://www.meganeichiba.jp/lp/yell/',
      logo        : 'https://www.meganeichiba.jp/lp/yell/_assets/img/logo.svg',
      //- ogp         : 'https://meganeichiba.nademo.net/lp/yell/_assets/img/ogp.png',
      //- ogp_week    : 'https://meganeichiba.nademo.net/lp/yell/_assets/img/week/tenkenday_ogp.png',
      ogp         : 'https://www.meganeichiba.jp/lp/yell/_assets/img/ogp.png',
      ogp_week    : '',
      icon        : '',
      path        : '/_assets/img/',
      assets      : '/_assets/',
      copyright   : '眼鏡市場',
      //- code        : '郵便番号',
      //- region      : '県',
      //- city        : '市町村',
      //- adr         : '番地',
      //- tell        : '電話番号',
      //- latitude    : '緯度',
      //- longitude   : '軽度',
    },
    menu: [
      {
        link: "/lp/yell/concept/",
        text: "ブランドコンセプト",
      },
      {
        link: "/lp/yell/qualityandprice/",
        text: 'おどろく品質 <br class="pcOnly">なっとく価格',
        //- child: [
        //-   {
        //-     link: '',
        //-     txt: 'おどろく品質 なっとく価格'
        //-   }
        //- ]
      },
      {
        link: "/lp/yell/day/",
        text: "全国メガネ点検DAY",
        //- child: [
        //-   {
        //-     link: '',
        //-     txt: '全国メガネ点検DAY'
        //-   }
        //- ]
      },
      {
        link: "/lp/yell/gallery/",
        text: "ギャラリー",
        //- child: [
        //-   {
        //-     link: '/lp/yell/gyallery/',
        //-     txt: 'ギャラリー'
        //-   }
        //- ]
      },
    ]
  }
