-
  gallery = {
      head: {
      title       : '「見えるに、エールを。」ギャラリー | 眼鏡市場【公式】(メガネ・めがね・サングラス)',
      description : '眼鏡市場『見えるにエールプロジェクト』のギャラリーページです',
      keywords    : '眼鏡市場,眼鏡,メガネ,めがね,meganeichiba,CM,ラジオ,見えるにエールプロジェクト,見えるに、エールを。',
      url         : 'https://www.meganeichiba.jp/lp/yell/gallery/',
    },
    content: {
      ttl : 'Gallery',
      lead: '最新CMを公開中！',
      txt: '心地よい視生活を応援するため、今日もみんなを見守る小さな「見えるにエール隊」。<br>そんな隊員の1人になんと吉岡里帆さんが就任してくれました！<br>CM内では、メガネのメンテを一生懸命お手伝いしてくれたり、<br>眼鏡市場の商品についてキュートに紹介してくれたりと大活躍！<br>誠実だけど、ちょっぴりお茶目な吉岡さんの姿は要チェック！',
      movie : [
        {
        url: 'XhNMziNO8xc',
        ttl: 'TVCM | 見えるに、エールを。点検DAY篇',
        },
        //- {
        //- url: 'bV87dxOz8kc',
        //- ttl: '見えるにエール隊 / 総点検DAY篇',
        //- },
        {
        url: '0562nnOdGWA',
        ttl: '見えるに、エールを。撮影メイキング',
        },
      ],
    },
  }
