-
  qt = {
      head: {
      title       : 'おどろく品質、なっとく価格 | 眼鏡市場【公式】(メガネ・めがね・サングラス)',
      description : '眼鏡市場『見えるにエールプロジェクト』のおどろく品質、なっとく価格ページです',
      keywords    : '眼鏡市場,眼鏡,メガネ,めがね,meganeichiba,見えるにエールプロジェクト,見えるに、エールを。',
      url         : 'https://www.meganeichiba.jp/lp/yell/qualityandprice/',
    },
    content: {
      ttl : 'おどろく品質、<br class="spOnly">なっとく価格。',
      span: '眼鏡市場が考える<br class="spOnly">「品質」と「価格」について',
      quality_content : [
        {
        span: 'おどろく品質',
        ttl: '品質は、<br class="spOnly">生活のなかにある。',
        img: 'quality_img001',
        txt: [
          '「品質」と聞いて、思い浮かべるものは何でしょう？<br>仕事道具として、毎日メガネを使う人。ファッションとして、メガネを楽しむ人。<br>必要な品質は、人それぞれ違うはず。<br>そのすべてにこたえるものでなければ、本当の品質とは言えません。',
          '私たちが鯖江に自社工場を持ち、<br>どこよりも厳しい基準でものづくりを行っているのは、<br>あらゆる使い方の人に対して、<br class="spOnly">「見える」を約束したいから。',
          'お気に入りの一本をかけ続けたい人に、長く使えるフレームを。<br>メガネで働き、動く人には、軽くてズレないフレームを。<br>皮膚が弱い人には、肌に優しい素材のフレームを。<br>メガネにとって基本と思える品質も、使う人の姿を想像しながら、<br class="pcOnly">とことん突き詰めればきっと、「おどろく品質」になるのです。'
        ],
        h3: 'おどろく品質をかなえるための、<br class="spOnly">3つの約束',
        list:[
          {
            img: 'quality_img002.svg',
            txt: 'お客さまのニーズから<br>多彩なフレームを開発'
          },
          {
            img: 'quality_img003.svg',
            txt: '鯖江の自社工場で<br>製品を検品・検査'
          },
          {
            img: 'quality_img004.svg',
            txt: '品質を体現する<br>3年変わらないかけ心地'
          },
        ]
      },
      {
        span: 'なっとく価格',
        ttl: '見えるのために、<br class="spOnly">できることすべてを。',
        img: 'price_img001',
        txt: [
          '眼鏡市場は高品質なフレームとレンズを、わかりやすい一式価格で提供しています。<br>しかし、その裏側にある理由はあまり知られていません。<br>私たちが業界で初めてレンズ代込みの価格をはじめたのは、<br>「視力に困っている人からはお金をいただかない」という理念があったからです。',
          'ですから、一般的には追加料金がかかる超薄型レンズや、<br>ハイグレードな遠近両用レンズも追加料金0円でお作りしています。<br>どこより精密な視力測定サービスも無料です。<br>それは、人によってほんとうに必要な「見え方」は違うと考えるからです。',
          'ただ安い、安心ということを超えて。品質で、サービスで、<br class="pcOnly">価格に対して「ここまでやってくれるんだ」という感動までを与えること。<br>それこそが、私たちの考える「なっとく価格」なのです。'
        ],
        h3: 'なっとく価格をかなえるための、<br class="spOnly">3つの約束',
        list:[
          {
            img: 'price_img002.svg',
            txt: 'フレームとレンズがセットの<br>わかりやすい価格設定'
          },
          {
            img: 'price_img003.svg',
            txt: '視力矯正に必要なレンズは<br>すべて追加料金0円'
          },
          {
            img: 'price_img004.svg',
            txt: '見え方を改善する<br>各種サービスも0円'
          },
        ]
      }
      ],
    },
  }
