-
  statement = {
      head: {
      title       : ' ブランドコンセプト| 眼鏡市場【公式】(メガネ・めがね・サングラス)',
      description : '眼鏡市場『見えるにエールプロジェクト』のブランドコンセプトです',
      keywords    : '眼鏡市場,眼鏡,メガネ,めがね,meganeichiba,見えるにエールプロジェクト,見えるに、エールを。,ブランドコンセプト',
      url         : 'https://www.meganeichiba.jp/lp/yell/concept/',
    },
    content: {
      ttl : 'Brand <br class="spOnly">Concept',
      span: '― ブランドコンセプト ―',
      txt: [
        '好きなことに夢中になれたり。<br class="spOnly">大切な人と心を通わせたり。<br>気持ちがふっと前向きになったり。<br>見えるのチカラは、無限大。<br>眼鏡市場はそんな人々の<br class="spOnly">“見える”をずっと、<br>高品質なメガネで応援し続けてきました。',
        '鯖江に自社工場を持ち、<br>変わらないかけ心地を追求しているのも、<br>わかりにくい価格設定を見直し、<br>レンズ代込みの料金体系を<br class="spOnly">全国に広めたのも、<br>日本のメガネチェーンで初めて、<br>1,000店舗までお店を増やしたのも。<br>私たちが実現してきた“業界初”はすべて、<br>暮らしのいちばん近くで、<br class="spOnly">エールを送り続けるため。',
        'あなたが人生を通して、<br class="spOnly">末長く愛せるメガネであれるよう。<br>おどろく品質を、納得できる価格で。<br>1本1本に、まごころと情熱を込めて<br class="spOnly">お届けします。'
      ],
      lead: '',
      movie : [
        {
        url: '7vKZnnqRkI8',
        ttl: '見えるにエール隊 / 総点検DAY篇',
        },
                {
        url: 'bV87dxOz8kc',
        ttl: '見えるにエール隊 / 総点検DAY篇',
        },
      ],
    },
  }
