-
  top = {
      head: {
      title       : '『見えるにエールプロジェクト』特設サイト | 眼鏡市場【公式】(メガネ・めがね・サングラス)',
      description : '長年変わらず、あなたの「見える」を応援し続けてきた眼鏡市場の『見えるにエールプロジェクト』始動！',
      keywords    : '眼鏡市場,眼鏡,メガネ,めがね,meganeichiba,見えるにエールプロジェクト,見えるに、エールを。',
      url         : 'https://www.meganeichiba.jp/lp/yell/',
    },
    content: {
      mv : [
        {
        img: 'mv',
        copy: '見えるに、エールを'
        },
      ],
      statement: {
        img: 'ttl.svg',
        strong: '見えるにエール<br><span>PROJECT</span>、<br>はじまる。',
        txt: 'メガネを使うすべての人を、<br>もっともっと心地よくしていきたい。<br>創業以来、ずっと変わらない想いを胸に、<br >眼鏡市場は新たなプロジェクトをスタートします。<br>より良いメガネと「見える」のチカラで、<br>みんなの生活を、より良く変えていけますように。',
        bnr: [
          {
            img: 'bnr_img001',
            alt: 'ブランド<br>コンセプト',
            link: '/lp/yell/concept/',
          },
          {
            img: 'bnr_img002',
            alt: 'おどろく品質<br>なっとく価格',
            link: '/lp/yell/qualityandprice/',
          }
        ]
      },
      special: {
        ttl: 'Projects',
        txt: '見えるにエールを送る<br>スペシャルプロジェクト、<br class="spOnly">ぞくぞく公開！',
        bnr: [
          {
            img: 'special_img001',
            alt: '全国メガネ点検DAY',
            link: '/lp/yell/day/',
          },
        ]
      },
      magazine : {
        ttl: '見えるにエール<span>MAGAZINE</span>',
        baloon: {
          txt: '見えるに役立つ<br>ショートコラム',
          img: 'ballon_img001.png'
        },
        article: [
          {
            span: 'メガネの相場は？',
            ttl: 'お得に眼鏡を作るための予算感を解説',
            img: 'article_img001.jpg',
            link: ''
          },
          {
            span: '見えないストレスを解消！',
            ttl: '遠近両用デビュー物語',
            img: 'article_img002.jpg',
            link: ''
          },
          {
            span: 'レンズ交換の基本',
            ttl: '費用や期間、手順、上手なレンズの選び方',
            img: 'article_img003.jpg',
            link: ''
          },
          {
            span: '見えないストレスを解消！',
            ttl: 'メガネの相場は？｜お得にメガネを作るための予算感を解説',
            img: 'article_img004.jpg',
            link: ''
          },
          {
            span: '見えないストレスを解消！',
            ttl: '遠近両用デビュー物語',
            img: 'article_img002.jpg',
            link: ''
          },
          {
            span: 'レンズ交換の基本',
            ttl: '費用や期間、手順、上手なレンズの選び方',
            img: 'article_img003.jpg',
            link: ''
          },
          {
            span: '見えないストレスを解消！',
            ttl: 'メガネの相場は？｜お得にメガネを作るための予算感を解説',
            img: 'article_img004.jpg',
            link: ''
          },
        ],
        btn: {
          txt: '見えるにエールMAGAZINE一覧へ',
          link: '/lp/yell/magazine/'
        }
      },
      gallery: {
        ttl: 'Gallery',
        slide: [
          {
            img: 'slide_img001',
            cat: 'TVCM',
            ttl: '見えるに、エールを。点検DAY篇',
            link: 'XhNMziNO8xc'
          },
          {
            img: 'slide_img002',
            cat: 'メイキング',
            ttl: '見えるに、エールを。撮影メイキング',
            link: '0562nnOdGWA'
          },
          //- {
          //-   img: 'slide_img001',
          //-   cat: 'TVCM',
          //-   ttl: '全国メガネ点検DAY編',
          //-   link: '7vKZnnqRkI8'
          //- },
        ],
        btn: {
          txt: '一覧はこちら',
          link: '/lp/yell/gallery/'
        }
      }
    },
  }
