-
  week = {
      head: {
      title       : ' 全国メガネ点検DAY | 眼鏡市場【公式】(メガネ・めがね・サングラス)',
      description : '毎週火･水曜日は全国メガネ点検DAY！',
      keywords    : '眼鏡市場,眼鏡,メガネ,めがね,meganeichiba,無料,点検,見えるにエールプロジェクト,見えるに、エールを。',
      url         : 'https://www.meganeichiba.jp/lp/yell/day/',
    },
    content: {
      ttl : '全国メガネ点検DAY',
      img: 'week_mv',
      lead: 'あなたが今かけてるメガネ、<br class="spOnly">ほんとうにベストな状態ですか？<br>メガネと過ごす毎日を、<br class="spOnly">もっと“見える”ようにしたいから。<br><strong>他社で買ったメガネでもOK。<br class="spOnly">全国一斉開催で、<span>無料メンテ</span>しちゃいます！</strong>',
      about: {
        ttl: '調整する。<br>キレイにする。<br>メガネがみるみる、<br>よみがえる。',
        txt: '一日に何度もメガネの位置を変えてしまう。なんだか見え方がおかしい気がする…そんなお悩みは、メガネのズレや汚れが原因かもしれません。眼鏡市場のスタッフが、かかり具合と状態を点検して、あなたのメガネに必要な調整とクリーニングをご案内。普段なかなかできないメンテナンスを、ぜひこの機会に！',
        img: 'week_img001',
      },
      maintenance: {
        img: 'week_img002',
        ttl: '点検<strong>MENU</strong>',
        span: 'icon_min.svg',
        lead: '３つの項目で、素早く、<br class="spOnly">でも、ていねいに。',
        ol: [
          {
            ttl: 'バランス調整',
            txt: 'まずはかかり具合のバランスチェックから。「顔幅」「鼻」「耳」3つのポイントからお顔に合った最適なフレーム位置を見て、快適なかけ心地に調整していきます。',
            dl: [
              {
                ttl: '顔幅',
                txt: 'フレーム幅が、ゆるいとズレ落ちに、きついと痛みやズレ落ちの原因に。',
                img: 'week_illust002'
              },
              {
                ttl: '鼻',
                txt: '鼻パッドが適切な位置にないと、痛みやズレ落ちの原因に。',
                img: 'week_illust003'
              },
              {
                ttl: '耳',
                txt: 'ポイントは耳へのかかり具合。曲げ込みが耳の角度に合っていないと、痛みや負担の原因に。',
                img: 'week_illust004'
              }
            ]
          },
          {
            ttl: 'パーツの点検・交換',
            txt: 'じつはメガネは細かなパーツの集合体。フレーム自体を買い替えなくても、古くなったパーツを交換することで見た目やかけ心地の改善につながります。',
            dl: [
              {
                ttl: '鼻パッド',
                txt: '直接肌に触れるパーツのため、じつは汚れや劣化が起きやすい。',
                ul: {
                  ttl: '鼻パッドは大きく2種類',
                  list: [
                    'シリコンパッド：滑りにくく、肌当たりもソフト',
                    'ハードパッド：汚れにくく劣化もしにくい（ファンデーションなども付きづらい）'
                  ]
                },
                img: 'week_illust005'
              },
              {
                ttl: 'ネジ',
                txt: 'テンプル（耳にかける部分）がグラつくのは、ネジの緩みや劣化によることが多い。',
                img: 'week_illust006'
              },
            ]
          },
          {
            ttl: 'クリーニング',
            txt: 'フレームとレンズ、それぞれに効果的なクリーニング方法があるのをご存知でしたか？<br>適切な方法で、定期的にキレイにしてこそ、快適で長く使えるメガネになるのです。',
            dl: [
              {
                ttl: '超音波洗浄',
                txt: '皮脂や汗など、フレームについた汚れを落とすには超音波が効果的。目に見えない隙間の汚れも洗浄！',
                img: 'week_illust007'
              },
              {
                ttl: 'クリーナーで仕上げ',
                txt: 'レンズについた汚れを、専用クリーナーの泡でやさしくクリーニング。ピカピカにして仕上げます！除菌・帯電防止効果も。',
                img: 'week_illust008'
              },
            ]
          }
        ]
      },
      caution : {
        ttl: '点検を行うにあたっての注意事項',
        list: [
          '表面上では見えない劣化があると、調整時の力に耐えられず、折れてしまう場合もあります。',
          '特殊パーツはお受けできません。',
          'フレームの状態によっては、お受けできない場合もあります。',
          'ネジや鼻パッドの交換の際、メガネの形状によっては有料になる場合があります。'
        ]
      },
      service: {
        ttl: 'まだまだある！<br>眼鏡市場の「見える」サービス',
        txt: 'ほんとうはもっと見えるのに、ほんとうはもっと似合っているのに。<br>そんな困りごとをなくしたい。大切なメガネを末長く使うには、定期的な点検を。<br>眼鏡市場のお店では、そのほか、こんなご相談も承っています。',
        bnr: [
          {
            img: 'bnr_img001',
            alt: 'レンズ交換サービス',
            link: 'https://www.meganeichiba.jp/lens/exchange.html',
          },
          {
            img: 'bnr_img002',
            alt: '視力測定サービス：',
            link: 'https://www.meganeichiba.jp/lens/shiryokusokutei/',
          },
          {
            img: 'bnr_img003',
            alt: '顔タイプ',
            link: 'https://www.meganeichiba.jp/special/face_type/',
          },
          {
            img: 'bnr_img004',
            alt: 'パーソナルカラー',
            link: 'https://www.meganeichiba.jp/special/personal_color/',
          },
        ],
      }
    },
  }
