<!--ブロックコンテンツ ： アメニティ -->
section#onsenAmenity
  .contentInner
    <!-- config.php : アメニティタイトル部分 -->
    h2.c_ttl_h2.scrollIn.up.each 設備・アメニティ
    <!--/config.php : アメニティタイトル部分 -->
    .scrollIn.up.each.amenitySlide
      <!-- ブロック: 写真とテキスト（繰り返し） -->
      .amenitySlide_img
        figure
          img(src=imgPath + 'onsen/onsen_ame001.jpg' alt='サウナ（男性）' width='302' height='186' loading='lazy' decoding='async')
          figcaption サウナ（男性）<span class="cautionTxt">コロナウィルス感染対策のため人数制限あり</span>
      <!--/ ブロック: 写真とテキスト（繰り返し） -->
      .amenitySlide_img
        figure
          img(src=imgPath + 'onsen/onsen_ame002.jpg' alt='サウナ（女性）' width='302' height='186' loading='lazy' decoding='async')
          figcaption サウナ（女性）<span class="cautionTxt">コロナウィルス感染対策のため人数制限あり</span>
      .amenitySlide_img
        figure
          img(src=imgPath + 'onsen/onsen_ame003.jpg' alt='パウダールーム' width='302' height='186' loading='lazy' decoding='async')
          figcaption パウダールーム
    .bgLightContainer.scrollIn.up.each
      h3.c_ttl_h3 アメニティ
      <!-- ブロック:アメニティ -->
      ul.c_list.-blocks4.-sp_2
        li ボディソープ
        li ヘアシャンプー
        li ヘアコンディショナー
        li 洗顔フォーム
        li シャワーチェア
        li 足つぼマッサージ
      h4.c_ttl_h4 男性のみ
      ul.c_list.-blocks4.-sp_2
        li アフターシェービングローション
        li ヘアトニック
        li ヘアリキッド
        li カミソリ
      h4.c_ttl_h4 女性のみ
      ul.c_list.-blocks4.-sp_2
        li 化粧水
        li クレンジングローション
        li BBクリーム
        li ドライヤー前ヘアトリートメント
        li シャワーキャップ
        li かかとクリーム
      <!-- /ブロック:アメニティ -->
    .bgLightContainer.scrollIn.up.each
      h3.c_ttl_h3 設備
      <!-- ブロック:設備 -->
      ul.c_list.-blocks4.-sp_2
        li テキスト
        li テキスト
        li テキスト
        li テキスト
        li テキスト
        li テキスト
      h4.c_ttl_h4 男性のみ
      ul.c_list.-blocks4.-sp_2
        li テキスト
        li テキスト
        li テキスト
        li テキスト
      h4.c_ttl_h4 女性のみ
      ul.c_list.-blocks4.-sp_2
        li テキスト
        li テキスト
        li テキスト
        li テキスト
        li テキスト
      <!-- /ブロック:設備 -->
<!--/ブロックコンテンツ ： アメニティ -->
