<!-- 追尾バナー -->
.fixed-bnr
  .fixed-bnr__inner
    input(type="radio" class="fixed-bnr__close" id="fixed-bnr-close")
    label(class="fixed-bnr__close-btn" for="fixed-bnr-close")
    a(href="https://www.ooedoonsen.jp/special/202107summary/index.html" target="_blank" rel="noopener noreferrer")
      span #[small 最大]20#[small.small02 %]OFF
      | 全国旅行支援
<!-- /追尾バナー -->
