<!--インクルード：キャッチコンテンツ -->

section#lowerCatch.loadIn
  .contentInner
    h2.c_ttl_h2.-lowerCatch.scrollIn.up.each !{lower.catchTtl}
    p.scrollIn.up.each !{lower.catchTxt}
  figure
    include ../../html/_includes/_wave.html



<!--/インクルード：キャッチコンテンツ -->
