<!-- インクルード：キーヴィジュアル表示 -->
section#lowerMv
  .mainImage
    picture
      source(media='(max-width: 750px)' srcset=imgPath + lower.mv + '_sp.jpg' width='375' height='812')
      img(src=imgPath + lower.mv + '.jpg' alt='背景画像' width='1280' height='720' decoding='async')
    h1.c_ttl_h1.-lowerTtl !{lower.ttl}

  .scrollBtn
    a(href='#lowerCatch'): span
<!-- /インクルード：キーヴィジュアル表示 -->
