extends ./_base/_layout

block vars
  include ./_contents/_top
  //- - let site = "shima"
  - let slug = "top"
  - let head = top["head"]
  - let content = top["content"]
  - let imgPath = common["head"].path + slug + '/'

block contents
  include /_pages/top/_top

