@use "../abstracts" as *;
@use "../components/general/svg" as *;
//-----------------フッター //

footer {
  background-color: $colorDark;
  &.node__meta {
    max-width: $containerSize + px;
    margin: 1rem auto;
    background-color: $bgBody;
  }
}

.footNaviContainer {
  padding: 6.5em 0;
  @include mq() {
    padding: 4em 0;
  }
}
.footNavi {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  max-width: 84rem;
  margin: 0 auto;
  @include mq() {
    display: block;
    width: 88%;
  }
  li {
    width: 47%;
    @include mq() {
      width: 100%;
      + li {
        margin-top: 2.2em;
      }
    }
    a {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      min-height: 12rem;
      padding-left: 10%;
      background: $colorTextReversal;
      border: 2px solid $colorText;
      box-shadow: 8px 8px $colorText;
      @include mq() {
        min-height: 8.6rem;
        border-width: 1px;
      }
      @include hover {
        box-shadow: none;
      }
      &::before {
        display: block;
        flex-shrink: 0;
        width: 21%;
        aspect-ratio: 1 / 1;
        content: "";
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border: 2px solid $colorText;
        border-radius: 50%;
        @include mq() {
          max-width: 54px;
          height: 54px;
          border-width: 1px;
        }
      }
    }
  }
  &_text {
    font-size: 3.2rem;
    font-weight: bold;
    line-height: 1;
    @include mq() {
      font-size: 2.4rem;
    }
  }
  &_about {
    a {
      .footNavi_text {
        margin-left: 4%;
        @include mq() {
          margin-left: 5%;
        }
      }
      img {
        display: block;
        width: 21.9rem;
        @include mq() {
          width: 16.5rem;
        }
      }
      span {
        display: block;
        padding-top: 0.2em;
        font-size: 2.4rem;
        font-weight: bold;
        @include mq() {
          font-size: 1.8rem;
        }
      }
    }
  }
  &_contact {
    a {
      .footNavi_text {
        margin-left: 8%;
        @include mq() {
          margin-left: 5%;
        }
      }
    }
  }
}

::-webkit-full-page-media,
:future,
:root .footNavi li a:hover {
  box-shadow: 8px 8px $colorText;
}

.copyContainer {
  padding: 0.5em 0;
  background: $bgCopy;
  @include mq() {
    padding: 0.7em 0;
  }
  .copyRight {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
  }
}

#toTop {
  position: fixed;
  right: 2%;
  bottom: -100px;
  z-index: 50;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 8.8rem;
  height: 8.8rem;
  background: $colorText;
  @include mq() {
    width: 6.4rem;
    height: 6.4rem;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: flex-start;
    align-items: center;
    width: 100%;
    height: 20%;
    margin: auto;
    font-family: $materialIcon;
    font-size: 3.5rem;
    color: $colorTextReversal;
    content: "\f1df";
    transition: 0.2s;
    transform: rotate(-90deg);
    transform-origin: center;
    @include mq() {
      height: 10%;
      font-size: 2.5rem;
    }
  }
  span {
    margin-bottom: 1em;
    font-size: 1.2rem;
    font-weight: bold;
    color: $colorTextReversal;
    @include mq() {
      font-size: 1rem;
      letter-spacing: 0;
    }
  }
}
