@use "../abstracts" as *;
@use "../components/_extend" as *;
@use "../components/general/_svg" as *;
@use "sass:math";

.modal_wrapper .modal_ttl {
  color: #ff0000;
  text-align: center;
}

#global_header {
  position: absolute;
  top: 0;
  z-index: 300;
  width: 100%;
  padding: 0;
  background: none;
  background: transparent;
  box-shadow: none;
  transform: none !important;

  &:not(.clone) {
    &.-fixed {
      position: fixed;
      top: 0;
      background: $bgHeader;
      border: 0 !important;
      box-shadow: 0 3px 16px rgba(#b9b8b6, 0.26);

      .header_logo {
        #logo .cls-1 {
          fill: #313a40;
        }
      }

      .menu {
        > li.menu_item {
          > a {
            color: $colorText;
          }
        }
      }

      .reservation_btn {
        color: $colorText;
        border-color: $colorText;

        @include hover {
          color: #fff;
          background-color: var(--color03);
          border-color: var(--color03);
        }
      }

      .hamburger_btn {
        ._icon {
          &::before,
          &::after,
          span {
            background: #313a40;
          }
        }
      }
    }
  }

  .headContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 4000px;
    height: 72px;
    padding: 16px;

    @include mq(max, $header_breakPoint) {
      height: spSize(66);
      padding: spSize(10) spSize(20);
    }
  }

  #logo {
    display: block;
    width: 100% !important;
    height: auto !important;
  }

  &.clone {
    display: none !important;
  }

  .header_logo {
    display: flex;
    align-items: center;
    width: auto;
    width: 20%;
    margin: 0;

    @include mq(sp, 1023) {
      width: 75%;
    }

    img {
      width: auto;
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
  }

  nav {
    display: flex;
    gap: 0 2%;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0;
    margin-right: 0;
    margin-left: auto;
    background: none;

    .menu {
      position: relative;
      top: auto;
      left: auto;
      gap: 1em 2%;
      justify-content: flex-end;
      width: 85%;
      height: 100%;
      margin: 0;
      overflow: hidden;
      text-align: right;

      @include mq(pc, 1023) {
        display: flex;
      }

      > li.menu_item {
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        width: auto;
        padding: 0;
        margin: 0;
        text-align: center;
        border: 0;

        > a {
          padding: 0.5em 0;
          font-weight: normal;
          line-height: 1.2;
          color: $bgBody;
          text-align: center;
          text-decoration: none;
          // text-shadow: 0 0 5px rgba($colorTextReversal, 0.7);
          letter-spacing: 0.1em;
          background: none;
          border: 0;
          transition: color 0.7s;
          @include fontsize(16, 16);

          &:after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            width: 90%;
            height: 2px;
            margin: auto;
            content: "";
            background: $color03;
            transition: 0.4s;
            transform: scale(0);
          }
          @include hover {
            // color: $color03;
            background: none;
            transition: 0.7s;

            &:after {
              transition: 0.4s;
              transform: scale(1);
            }

            span {
              animation: gnvahover 0.4s ease 0s 0.4 normal;
            }
          }
        }
      }

      @include mq(max, $header_breakPoint) {
        display: none;
      }
    }

    .reservation_btn {
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 88px;
      height: 34px;
      margin: 0;
      overflow: hidden;
      font-weight: normal;
      line-height: 1.5;
      color: $colorBtnText;
      text-align: center;
      text-decoration: none;
      letter-spacing: 0.1em;
      border: 1px solid $bgBody;
      border-radius: 0;
      box-shadow: none;
      transition: background-color 0.4s;
      @include fontsize(16, 14);

      @include mq(sp, 1023) {
        display: none;
      }

      &:before,
      &:after {
        content: none;
      }

      @include hover {
        color: #fff;
        background-color: var(--color03);
        border-color: var(--color03);
      }
    }

    @include mq(max, $header_breakPoint) {
      justify-content: flex-end;
      margin-right: 0;
    }

    @include mq() {
      gap: 0 spSize(18);
      width: 45%;
      height: auto;
    }

    .hamburger_btn {
      position: relative;
      top: auto;
      right: auto;
      width: spSize(24);
      height: spSize(15);
      transform: none;

      ._icon {
        position: relative;
        top: auto;
        left: auto;
        width: 100%;
        height: 100%;
        margin-bottom: 0 !important;

        &::before,
        &::after,
        span {
          height: 2px;
          background: #fff;

          @include mq() {
            height: 1px;
          }
        }

        &::before {
          bottom: 0;
        }

        &::after {
          top: 0;
        }
      }
    }

    .menu_sp {
      position: fixed;
      right: -100%;
      width: 100%;
      max-height: 90vh;
      padding: 0 spSize(20) spSize(64);

      @include mq(max, $header_breakPoint) {
        right: -100vw;
      }

      &.open {
        top: 0;
      }

      .menu_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: spSize(10) 0 spSize(10);
        margin: 0;
        border: none;

        .header_logo {
          #logo .cls-1 {
            fill: #313a40;
          }

          &::before {
            display: none;
          }
        }

        .close_btn {
          position: static;
          width: spSize(12);
          height: spSize(12);
          margin-right: spSize(5);
          transform: none;

          img {
            width: 100%;
          }
        }
      }

      .menu_item {
        margin-right: spSize(12);
        margin-left: spSize(12);
        border-bottom: 1px solid $colorGrayScale;

        a {
          @include fontsize(16, 16);
          padding: spSize(20) 0;
          line-height: 1;

          &::after {
            right: 0;
            width: spSize(20);
            height: spSize(5);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: spSize(20) spSize(5);
            @extend %bgArrowBlack;
          }
        }

        &._sub-item {
          margin-top: spSize(25);
          border: none;

          + ._sub-item {
            margin-top: spSize(17);
          }

          a {
            @include fontsize(14, 14);
            display: inline-block;
            padding: 0;
            padding-right: spSize(25);
            line-height: 1.5;

            &::after {
              width: spSize(13);
              height: spSize(13);
              background-repeat: no-repeat;
              background-position: center center;
              @extend %bgBlabkBlack;
              background-size: spSize(13) spSize(13);
            }
          }
        }

        &-search {
          margin-top: spSize(40);
        }
      }
    }
  }
}

@keyframes gnvahover {
  0% {
    opacity: 0;
    transform: translateY(30px);
    // transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    // transform: scale(1);
  }
}

body:not(.-top):not(.-restaurant):not(.-onsen):not(.-rooms):not(.-features):not(
    .-spend
  ) {
  #global_header {
    background: $bgHeader;
    border-bottom: 1px solid $colorGrayScale;

    .header_logo {
      #logo .cls-1 {
        fill: #313a40;
      }
    }

    .menu {
      > li.menu_item {
        > a {
          color: $colorText;
        }
      }
    }

    .reservation_btn {
      color: $colorText;
      border-color: $colorText;

      @include hover {
        color: #fff;
        background-color: var(--color03);
        border-color: var(--color03);
      }
    }

    .hamburger_btn {
      ._icon {
        &::before,
        &::after,
        span {
          background: #313a40;
        }
      }
    }
  }
}
