@use "../abstracts" as *;
@use "../components/_extend" as *;
@use "../components/general/_svg" as *;
@use "sass:math";

header {
  background-color: $color03;
  border-bottom: 1px solid $colorText;
  .region-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
