<!-- インクルード：Googleマップ -->
section#taoyaMap
  .contentInner
    h2.c_ttl_h2.scrollIn.up !{content.ttl}
    p.-textCenter.scrollIn.up !{content.adr}
    .mapWrapper
      iframe(frameborder="0" src=content.map width="930" height="495" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
<!-- /インクルード：Googleマップ -->
