<!--静的：過ごし方下層コンテンツ-MOVIE -->

section#spendMovie
  .contentInner
    h2.c_ttl_h2 Movie
    .youtubeWrapper
      iframe(src="https://www.youtube.com/embed/"+ content.movie +"?start=0&amp;rel=0&amp;controls=0&amp;disablekb=1&amp;showinfo=0&amp;modestbranding=1&amp;iv_load_policy=3&amp;fs=0&amp;autoplay=0&amp;playsinline=1&amp;loop=1&amp;playlist=" + content.movie + "&amp;enablejsapi=1&amp;origin=http%3A%2F%2Flocalhost%3A3000&amp;widgetid=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture web-share" allowfullscreen width="640" height="360" loading="lazy")
<!--静的：過ごし方下層コンテンツ-MOVIE -->
