section
  .contentInner
    h2.c_ttl_h2 バニラjsで実装したバージョン
    .newsList

    button.c_btn.sortBtn(data-sort="title" data-desc="false") タイトルで並び替え
    button.c_btn.sortBtn(data-sort="created" data-desc="false") 投稿日で並び替え
