<!--ブロックコンテンツ ： ニュース -->
//- だし分け不要。直で書いてください

section#taoyaNews
  .contentInner
    h2.c_ttl_h2.-section.scrollIn.up.each イベント・お知らせ
      span.c_ttl_h2-en NEWS
    ul.c_newsList.scrollIn.up.each
      li.c_newsList_item
        .c_newsList_item-tagTime
          time(datetime="2022-12-02") 2022.12.02
          ul.c_tagList
            li お知らせ
            li 館内のご案内
        a(href="https://taoya-shima.ooedoonsen.jp/news/16733"): p クリスマスツリーを飾りました☆
      li.c_newsList_item
        .c_newsList_item-tagTime
          time(datetime="2022-11-28") 2022.11.28
          ul.c_tagList
            li お知らせ
            li キャンペーン
        a(href="https://taoya-shima.ooedoonsen.jp/news/16371"): p 【全国旅行支援】おいでよ！みえ旅キャンペーン
      li.c_newsList_item
        .c_newsList_item-tagTime
          time(datetime="2022-11-18") 2022.11.18
          ul.c_tagList
            li 周辺観光
        a(href="https://taoya-shima.ooedoonsen.jp/news/16596"): p 子どもから大人までワクワク楽しめる！鳥羽市立「海の博物館」
      li.c_newsList_item
        .c_newsList_item-tagTime
          time(datetime="2022-11-18") 2022.11.18
          ul.c_tagList
            li 館内のご案内
            li 館内イベント
        a(href=""): p TAOYA志摩で楽しむクリスマスイベント♪

    .c_newsList-btn.scrollIn.up.each
      a(href="/news/" class="c_btn") イベントお知らせ一覧

<!--/ブロックコンテンツ ： ニュース -->
