section#taoyaSearch
  .contentInner
    h2.c_ttl_h2.scrollIn.up.each 空室検索
    if key == "nikko"
      include ../../../html/_includes/_search.html
    else
      include ../../../html/_includes/_search2.html
