<section class="simuContainer">
  <div class="inner">
    <p class="-textTable text01">メモリアのお葬式プランは、岐⾩・⼤垣・⻄濃でご葬儀をお考えの皆様へ、<br class="pcOnly">さまざまなご希望やご予算にお応えする、各種プランをご⽤意しております。</p>
    <h2>葬儀プランをお選びください</h2>
    <p class="-textTable">⾦額の⽬安となるお⾒積り算出します。</p>
  </div>
  <my-element></my-element>
</section>
