-
  pages = {
    shinko: {
      name        : '石和温泉 ホテル新光',
      title       : '温泉 | 石和温泉 ホテル新光 | 癒しの温泉宿・旅館|【公式】大江戸温泉物語グループ',
      sitename    : '',
      description : '【癒しの温泉旅館】温泉 | 美肌の湯と呼ばれる、山梨屈指の名湯「石和温泉」。雅な日本庭園が心に染み入る、フルーツとワインの町の、美肌の湯。 世界遺産の富士山麓まで車で50分（甲信越/山梨）。化粧水のような美肌の湯と、滝の流れる日本庭園が、心と身体の疲れを癒します。いい温泉とうまい料理、そして独自の多彩なエンターテイメントをとびきりリーズナブルな価格でお届けいたします。温泉は、四季折々、有名温泉地の温泉をお楽しみください。料理は、伝説の料理人プロデュースの和洋中創作バイキング。地元の素材をつかった各施設オリジナルスペシャルメニューも続々登場。ご夫婦、カップル、デート、お子様連れ、グループでのご利用、家族旅行、記念日、卒業旅行、女子会などにもぴったり。',
      keywords    : '大江戸温泉物語,温泉,石和温泉 ホテル新光,石和温泉',
      url         : 'https://shinko.ooedoonsen.jp/onsen/',
      ogp         : 'https://shinko.ooedoonsen.jp/v2_common/img/facility/shinko/ogp/onsen.jpg',
      sharetext   : '',
      hashtag     : '',
      copyright   : '大江戸温泉物語',
      catch       : '美肌の湯と呼ばれる、<br>山梨屈指の名湯「石和温泉」',
      catchText   : '当館の温泉は、湯ざわり抜群の美肌の湯。<br>まるで化粧水の様に、優しくお肌を包みます。<br>甲州ならではのワイン風呂もお楽しみください。',
      onsen       : '<p>自家源泉</p>',
      senshitu    : '<p>アルカリ性単純泉<small class="cautionTxt">加温・加水・一部循環ろ過</small></p>',
      kono        : '<p>神経痛、リウマチ、筋肉痛、関節炎、五十肩、打ち身、痛風、外傷骨折、やけど、冷え性、運動機能障害、痔便秘</p>',
      time       : '<p>「大黒天の湯」大浴場・半露天風呂<br>15:00～24:00 / 5:00～10:00</p><p>「布袋の湯」大浴場・半露天風呂・甲州ワイン風呂<br>15:00～24:00 / 5:00～10:00</p>',
      change      : true,
      code        : '406-0023',
      region      : '山梨県',
      city        : '笛吹市石和町八田97',
      directory   : 'shinko',
      apiId       : '10001158',
      apiKey      : '97ad2ee951eb293566ed680b5537e7cdb6741ff4',
    },
    shiomiso: {
      name        : '汐美荘',
      title       : '温泉 | 汐美荘 | 癒しの温泉宿・旅館|【公式】大江戸温泉物語グループ',
      sitename    : '',
      description : '【癒しの温泉旅館】温泉 | 日本海の豊かな自然に囲まれた瀬波温泉(新潟県村上市)、絶好のロケーションと夕日が美しい温泉宿。いい温泉とうまい料理、そして独自の多彩なエンターテイメントをとびきりリーズナブルな価格でお届けいたします。温泉は、四季折々、有名温泉地の温泉をお楽しみください。料理は、伝説の料理人プロデュースの和洋中創作バイキング。地元の素材をつかった各施設オリジナルスペシャルメニューも続々登場。ご夫婦、カップル、デート、お子様連れ、グループでのご利用、家族旅行、記念日、卒業旅行、女子会などにもぴったり。',
      keywords    : '大江戸温泉物語,温泉,汐美荘,瀬波温泉',
      url         : 'https://shiomiso.ooedoonsen.jp/onsen/',
      ogp         : 'https://shiomiso.ooedoonsen.jp/v2_common/img/facility/shiomiso/ogp/onsen.jpg',
      sharetext   : '',
      hashtag     : '',
      copyright   : '大江戸温泉物語',
      catch       : '豊富な湯量と、熱の湯と呼ばれる<br class="pc">良質な温泉が自慢',
      catchText   : '多様なお風呂と、季節ごとに姿を変える美しい夕日をご堪能ください。',
      onsen       : '<p>瀬波温泉</p>',
      senshitu    : '<p>ナトリウムｰ塩化物泉（低張性アルカリ性高温泉）<small class="cautionTxt">加温・加水・一部循環ろ過</small></p>',
      kono        : '<p>神経痛、慢性消化器病、きりきず、慢性皮膚病、慢性婦人病・運動機能障害、湿疹、便秘</p>',
      time       : '<p>15:00～24:00 / 5:00～9:30</p>',
      change      : false,
      code        : '958-0037',
      region      : '新潟県',
      city        : '村上市瀬波温泉2-9-36',
      directory   : 'shiomiso',
      apiId       : '10001131',
      apiKey      : 'b6a2e0ecd12b46f0c76b1ce35c603fefdd8237c5',
    },
    kinugawa: {
      name        : '鬼怒川観光ホテル',
      title       : '温泉 | 鬼怒川観光ホテル | 癒しの温泉宿・旅館|【公式】大江戸温泉物語グループ',
      sitename    : '',
      description : '【【癒しの温泉旅館】温泉 | 湯めぐりで寛ぎのひととき。10種の温泉と貸切風呂が待っている、女性のための湯らっくすゾーン。 東武鬼怒川温泉駅（関東/栃木）から徒歩１５分。自然浴と温泉とリラックスをテーマにした癒しの宿です。開放感あふれるウッドデッキがホテルの魅力の「旅の湯歩道」で、自然との一体感を満喫！いい温泉とうまい料理、そして独自の多彩なエンターテイメントをとびきりリーズナブルな価格でお届けいたします。温泉は、四季折々、有名温泉地のをお楽しみください。料理は、伝説の料理人プロデュースの和洋中創作バイキング。地元の素材をつかった各施設オリジナルスペシャルメニューも続々登場。ご夫婦、カップル、デート、お子様連れ、グループでのご利用、家族旅行、記念日、卒業旅行、女子会などにもぴったり。',
      keywords    : '大江戸温泉物語,温泉,鬼怒川観光ホテル,日光鬼怒川',
      url         : 'https://kinugawa-kanko.ooedoonsen.jp/onsen/',
      ogp         : 'https://kinugawa-kanko.ooedoonsen.jp/v2_common/img/facility/kinugawa-kanko/ogp/onsen.jpg',
      sharetext   : '',
      hashtag     : '',
      copyright   : '大江戸温泉物語',
      catch       : '館内８種の湯船と<br>２種の贅沢な貸切風呂',
      catchText   : '川のせせらぎが心地よい半露天風呂や広々とした岩風呂大浴場、<br class="pc">岩盤浴付きの貸切風呂など豊富な湯船が自慢です。<br>身体にやさしい単純温泉で日頃の疲れが癒されます。',
      onsen       : '<p>鬼怒川温泉観光開発1・2号混合泉</p>',
      senshitu    : '<p>アルカリ性単純温泉<small class="cautionTxt">加温・加水・循環ろ過</small></p>',
      kono        : '<p>神経痛、筋肉痛、関節痛、五十肩、運動麻痺、うちみくじき、慢性消化器病痔疾、冷え症、病後回復、疲労回復、健康増進</p><p>温泉について詳しくはこちらをご覧ください。<br><a href="https://kinugawa-kanko.ooedoonsen.jp/news/6375" target="_blank" rel="noopener noreferrer">»【開湯330年の名湯 鬼怒川温泉】</a></p>',
      time       : '<p>霧降の湯<女性>15:00～24:00 / <男性>5:00～9:00</p><p>鶏頂の湯<男性>15:00～24:00 / <女性>5:00～9:00</p><p>サウナ15:00～22:00</p>',
      change      : true,
      code        : '321-2526',
      region      : '栃木県',
      city        : '日光市鬼怒川温泉滝359-2',
      directory   : 'kinugawa-kanko',
      apiId       : '10001146',
      apiKey      : 'efb5ecf60ab57e22359605b2e0f9d6db610a9865',
    },
  }
