extends ../_base/_layout

block vars
  include ../_contents/_top
  - let slug = "top"
  - let head = top["head"]
  - let content = top["content"]
  - let imgPath = common["head"].path + slug + '/'

block contents
  include /_pages/news/_litnews


