<!--インクルード：注意事項コンテンツ -->
//- だしわけ不要
-
  let lists =
  [
    {
      dt: '感染症対策についてのご案内',
      dd: '感染症防止のための取り組みに関しましてはこちらをご覧ください。'
    },
    {
      dt: '提供の料理に関するご案内',
      dd: '食材の仕入れ状況により、多少ご提供の料理内容が変更になる場合がございます。'
    },
    {
      dt: '食物アレルギー対応に関する<br class="sp">ご案内',
      dd: '当ホテルにおきましては、食物アレルギー対応のお食事はご用意しておりません。<br>バイキング形式でご提供しておりますお料理は、同一厨房内にて調理し、使用する調理器具等も共有しております。またお客様ご使用の取皿、箸等も共有し使用しておりますので、アレルゲンの混入を完全に防ぐことは出来ません。<br>食物アレルギーをお持ちのお客様は、食品のお持ち込みは可能ですので、ご予約時にお申し出ください。お客様のご理解とご協力をお願い申し上げます。'
    },
    {
      dt: 'アルコール類提供についての<br class="sp">ご案内',
      dd: '当ホテルにおきましては、バイキング会場、宴会会場、飲食施設、売店において未成年者へのアルコール類の提供、販売は固くお断りしております。<br>またご年齢を確認出来る身分証等のご提示をお願いする場合もございます。<br>身分証等をご提示願えない場合は、アルコール類の提供、販売は致しません。'
    },
  ]

section#restaurantCaution
  .contentInner
    h2.c_ttl_h2.loadIn.up.each 注意事項ほか
    dl.u_dl.-border
      each list in lists
        .u_dl-item.scrollIn.up.each
          dt !{list.dt}
          dd !{list.dd}
<!--/インクルード：注意事項コンテンツ -->
