<!--インクルード：食事プロデュースコンテンツ -->
section#restaurantProduce
  .contentInner
    h2.c_ttl_h2.scrollIn.up
      span 100万人を動員する伝説の料理人
      | 高階孝晴
      small プロデュース
    .columnRow
      .columnBlock.scrollIn.left.each
        figure
          +Picture('produce_img001')
      .columnBlock.scrollIn.right.each
        p 柔らかな弧を描くブッフェカウンターやライブキッチンに目に鮮やか、舌に美味しい料理が並びます。<br>ライブキッチンからは焼き立て、出来立てを常にご提供させていただきます。
        a.c_btn(href="/") 詳しくはこちら
<!--/インクルード：食事プロデュースコンテンツ -->
