<header id="header" class="header">
	<div class="inner">
		{% if page.header %}
			{{ page.header }}
		{% endif %}
	</div>
</header>

<main id="main">
	<div class="main-content">
		{{ page.content }}
	</div>
</main>

<footer class="footer">
	{{ page.footer }}
</footer>
