@use "../abstracts" as *;
@use "../components/_extend" as *;
@use "../components/general/_svg" as *;
@use "sass:math";

#taoyaMv {
  position: relative;
  z-index: 1;

  .mainImage {
    position: relative;
    z-index: 0;
  }

  .kvSlider {
    img {
      width: 100%;
      aspect-ratio: 1280 / 720;
      object-fit: cover;
      @include mq(sp) {
        width: 100%;
        height: 100vh;
        height: 100dvh;
        max-height: inherit;
      }
    }
    opacity: 0;
    transition: opacity 0.3s linear;
    &.slick-initialized {
      opacity: 1;
    }
  }

  .mainCopy {
    .copy {
      position: absolute;
      top: 50%;
      right: 5px;
      padding-right: calc((100% - 1120px) / 2);
      font-weight: normal;
      color: $colorTextReversal;
      text-align: right;
      letter-spacing: 0.25em;
      transform: translateY(-50%);
      @include fontsize(38, 28);

      @include mq(sp, 750) {
        top: 10%;
        right: spSize(30);
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        transform: none;
      }
    }
  }

  .mainImportantMsg {
    position: absolute;
    right: 5px;
    bottom: 20%;
    width: 50%;
    padding-right: calc((100% - 1120px) / 2);

    @include mq(sp, 750) {
      right: 0;
      bottom: spSize(68);
      width: 100%;
      padding-right: spSize(36);
      padding-left: spSize(36);
    }

    .importantMsg {
      padding: 16px;
      color: #fff;
      background: rgba(#2e2e2e, 0.7);
      border: 1px solid #fff;

      @include mq(sp, 750) {
        padding: spSize(11) spSize(14);
      }

      &-ttl {
        @include fontsize(16, 14);
        @extend %bgInconImportant;
        padding-left: 24px;
        margin-bottom: 10px;
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 16px 16px;

        @include mq(sp, 750) {
          padding-left: spSize(20);
          margin-bottom: spSize(8);
          background-size: spSize(14) spSize(14);
        }
      }

      ul {
        li {
          + li {
            padding-top: 10px;
            margin-top: 10px;
            border-top: 1px solid #fff;

            @include mq(sp, 750) {
              padding-top: spSize(10);
              margin-top: spSize(10);
            }
          }

          a {
            @include fontsize(14, 12);
            display: block;
            padding-right: 25px;
            text-align: left;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: 20px 5px;
            @extend %bgArrowWhite;
            @include hover {
              background-position: right -3px center;
              opacity: 0.7;
            }

            @include mq(sp, 750) {
              padding-right: spSize(25);
              background-size: spSize(20) spSize(5);
            }
          }
        }
      }
    }
  }

  // ---------- youtubeKv ----------
  .youtubeKv {
    position: relative;
    // height: 100vh;
    // max-height: 72rem;
    aspect-ratio: 1280 / 720;
    overflow: hidden;
    background-color: $colorText;
    @include mq() {
      height: 100vh;
      height: 100dvh;
      max-height: inherit;
    }

    .coverImg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: auto;
        aspect-ratio: 1280 / 720;
        object-fit: cover;
        @include mq() {
          height: 100vh;
          height: 100dvh;
        }
      }
    }

    &__item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: auto;
        content: "";
      }

      iframe {
        // position: absolute;
        // top: 50%;
        // left: 0;
        // width: 100%;
        // height: 120%;
        // pointer-events: none;
        // transform: translateY(-50%) scale(1.3);
        position: absolute;
        top: 50%;
        left: 50%;
        width: 177.77777778vh;
        min-width: 100%;
        height: 56.25vw;
        min-height: 100%;
        transform: translate(-50%, -50%);
      }
    }
    &.is-loaded {
      .coverImg {
        opacity: 0;
        transition: 0.8s;
      }
      .youtubeKv__item {
        opacity: 1;
        transition: opacity 0.8s;
      }
    }
  }
}

#taoyaSearch {
  padding-top: 60px;
  padding-bottom: 60px;
  background: $color04;

  @include mq(sp, 750) {
    padding-top: spSize(64);
    padding-bottom: spSize(64);
  }

  .form_wrapper {
    max-width: 740px;
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
    text-align: left;

    @include mq(sp, 750) {
      margin-top: spSize(19);
    }

    .box_content_note {
      margin-top: 20px;
      line-height: 1.7;
      letter-spacing: 0.1em;

      @include mq(sp, 750) {
        margin-top: spSize(20);
      }
    }

    .form_inner {
    }

    .form_row {
      display: flex;
      gap: 0 30px;
      align-items: center;

      @include mq(sp, 750) {
        flex-direction: column;
        gap: spSize(20) 0;
        width: 100%;
      }

      + .form_row {
        margin-top: 53px;

        @include mq(sp, 750) {
          margin-top: spSize(20);
        }
      }

      &-col02 {
        .form_parts {
          width: 50%;

          @include mq(sp, 750) {
            width: 100%;
          }
        }
      }
    }

    .form_parts {
      display: flex;
      align-items: center;

      @include mq(sp, 750) {
        flex-direction: column;
        gap: spSize(8) 0;
        align-items: flex-start;
        width: 100%;
      }

      // ----- block style -----
      .form_parts_box {
        display: flex;
        align-items: center;

        @include mq(sp, 750) {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      // ----- ttl style -----
      .form_item_ttl,
      .form_parts_box_ttl {
        @include fontsize(14, 14);
        width: calc(3em + 16px);

        @include mq(sp, 750) {
          width: 100%;
        }
      }

      // ----- ttl common style -----
      .form_item_ttl {
      }

      .form_parts_box_ttl {
      }

      // ----- parts common style -----
      .input_wrapper,
      .select_wrapper {
        width: 100%;

        input,
        select {
          @include fontsize(12, 12);
          width: 100%;
          padding: 14px 16px;
          line-height: 1;
          background: #fff;
          border: 1px solid $colorGrayScale;

          option {
            line-height: 1;
          }
        }
      }

      // ----- parts style -----
      .input_wrapper {
        input {
        }
      }

      .select_wrapper {
        position: relative;

        select {
          -webkit-appearance: none;
          appearance: none;

          &::-ms-expand {
            display: none;
          }
        }

        &::after {
          @extend %bgSelectBoxArrow;
          position: absolute;
          top: 50%;
          right: 16px;
          display: block;
          width: 6px;
          height: 4px;
          content: "";
          background-position: center center;
          background-size: 6px 4px;
          transform: translateY(-50%);
        }
      }

      // ----- parts width style -----
      &.date-picker {
        .input_wrapper {
          position: relative;
          width: calc(100% - (3em + 10px));

          @include mq(sp, 750) {
            width: 100%;
          }
          &::after {
            position: absolute;
            top: 50%;
            right: 15px;
            display: block;
            width: 16px;
            height: 15px;
            pointer-events: none;
            content: "";
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 16px 15px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            @extend %bgIconCalenderBlack;

            @include mq(sp, 750) {
              width: spSize(17);
              height: spSize(16);
              background-size: spSize(17) spSize(16);
            }
          }
        }
      }

      &.number-of-guests {
        gap: 0 30px;

        @include mq(sp, 750) {
          flex-direction: row;
          gap: 0 spSize(17);
        }

        .form_parts_box {
          width: 50%;

          @include mq(sp, 750) {
            gap: spSize(8) 0;
          }

          .form_parts_box_content {
            width: calc(100% - (3em + 10px));

            @include mq(sp, 750) {
              width: 100%;
            }

            .form_parts {
              display: block;
              width: 100%;
            }
          }
        }
      }

      .child-wrap {
        display: flex;
        gap: 0 24px;

        @include mq(sp, 750) {
          gap: 0 spSize(16);
          width: 100%;
        }

        .child {
          position: relative;
          width: 120px;

          @include mq(sp, 750) {
            width: calc(100% / 3);
          }

          .form_item_ttl {
            position: absolute;
            top: -5px;
            left: 0;
            width: 100%;
            transform: translateY(-100%);
            @include fontsize(12, 12);

            @include mq(sp, 750) {
              position: static;
              transform: none;
            }
          }
        }
      }

      &.submit_button {
        margin-top: 40px;

        @include mq(sp, 750) {
          margin-top: spSize(40);
        }
      }

      &.reservation_confirmation {
        justify-content: center;
        margin-top: 24px;

        @include mq(sp, 750) {
          align-items: center;
          margin-top: spSIze(20);
        }
      }
    }
  }
}

#taoyaPickup {
  padding-top: 120px;
  padding-bottom: 120px;

  @include mq(sp, 750) {
    padding-top: spSize(80);
    padding-bottom: spSize(80);
  }

  .taoyaPickup {
    &__copy {
      @include fontsize(16, 14);
      max-width: 695px;
      margin: 80px auto 30px;
      line-height: 2.1;
      text-align: center;
      letter-spacing: 0.1em;

      @include mq(sp, 750) {
        margin-top: spSize(46);
        margin-bottom: spSize(48);
        text-align: left;
      }
    }

    &__btn {
      margin-top: 87px;

      @include mq(sp, 750) {
        margin-top: spSize(40);
      }
    }
  }
}

#taoyaCatch {
  position: relative;
  background: $color04;

  .taoyaCatch {
    &__txt {
      position: relative;
      padding-top: 115px;
      padding-bottom: 80px;
      overflow: hidden;

      @include mq(sp, 750) {
        padding-top: spSize(77);
        padding-bottom: spSize(45);
      }

      &-bg {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 0;
        width: 100%;
        mix-blend-mode: color-burn;

        @include mq(sp, 750) {
          transform: translateY(-50%);
        }

        .st0 {
          fill: $color03;
        }
      }

      &-ttl {
        @include fontsize(24, 20);
        position: relative;
        z-index: 1;
        line-height: 2;
        letter-spacing: 0.25em;

        @include mq(sp, 750) {
          line-height: 1.8;
        }
      }

      &-copy {
        @include fontsize(16, 14);
        position: relative;
        z-index: 1;
        margin-top: 45px;
        line-height: 2.1;
        text-align: center;
        letter-spacing: 0.1em;

        @include mq(sp, 750) {
          margin-top: spSize(50);
        }
      }
    }

    &__btn {
      padding-top: 80px;
      padding-bottom: 117px;

      @include mq(sp, 750) {
        padding-top: spSize(40);
        padding-bottom: spSize(80);
      }
    }
  }
}

#taoyaNews {
  padding-top: 120px;
  padding-bottom: 120px;

  @include mq(sp, 750) {
    padding-top: spSize(80);
    padding-bottom: spSize(80);
  }

  .c_newsList {
    margin-top: 80px;

    @include mq(sp, 750) {
      margin-top: spSize(54);
    }
  }
}

#facility-banner {
  padding-top: 100px;
  padding-bottom: 80px;
  background: $colorLight;

  @include mq(sp, 750) {
    padding-top: spSize(80);
    padding-bottom: spSize(56);
  }
}

#taoyaBanner {
  padding-bottom: 100px;
  background: $colorLight;

  @include mq(sp, 750) {
    padding-bottom: spSize(80);
  }

  .taoyaBanner {
    &__item {
      + .taoyaBanner__item {
        margin-top: 56px;

        @include mq(sp, 750) {
          margin-top: spSize(40);
        }
      }

      a {
        transition: opacity 0.4s;

        @include hover {
          opacity: 0.7;
        }
      }
    }
  }
}

#taoyaAccess {
  padding-top: 120px;
  padding-bottom: 89px;

  @include mq(sp, 750) {
    padding-top: spSize(80);
    padding-bottom: spSize(80);
  }

  .contentInner {
    max-width: 930px;
  }

  .columnRow {
    margin-top: 80px;
    text-align: left;

    @include mq(sp, 750) {
      margin-top: spSize(56);
    }

    .c_ttl_h3 {
      @include fontsize(24, 20);
      margin-top: 0;
      margin-bottom: 10px;
      margin-left: 0;
      line-height: 1;
    }

    .columnBlock:first-child {
      display: flex;
      flex-direction: column;
    }

    .-textRight {
      margin-top: 18px;

      @include mq(sp, 750) {
        margin-top: spSize(23);
      }
    }
  }

  .taoyaAccess {
    &__btn {
      margin-top: auto;

      @include mq(sp, 750) {
        margin-top: spSize(40);
      }
    }

    &__info {
      margin-top: 74px;
      text-align: left;

      @include mq(sp, 750) {
        margin-top: spSize(31);
      }

      &-item {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        color: $colorDark;
        border-bottom: 1px solid $colorGrayScale;

        @include mq(sp, 750) {
          flex-direction: column;
          padding-top: spSize(32);
          padding-bottom: spSize(29);
        }

        dt {
          @include fontsize(24, 24);
          width: 337px;
          letter-spacing: 0.15em;

          @include mq(sp, 750) {
            width: 100%;
          }
        }

        dd {
          width: calc(100% - 337px);
          letter-spacing: 0.1em;

          @include mq(sp, 750) {
            width: 100%;
            margin-top: spSize(15);
          }

          small {
            @include fontsize(14, 12);
          }

          a {
            text-decoration: underline;
          }

          span {
            display: block;
            margin-top: 0.5em;
            text-align: right;

            a {
              color: $colorText;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

#taoyaTrip {
}

#taoyaAbout {
  padding-top: 120px;
  padding-bottom: 120px;

  @include mq(sp, 750) {
    position: relative;
    padding-top: spSize(80);
    padding-bottom: spSize(80);
  }

  .c_ttl_h2 {
    position: relative;
    z-index: 1;
  }

  .taoyaAbout {
    &__label {
      @include fontsize(36, 24);
      position: relative;
      z-index: 1;
      margin-top: 80px;
      margin-bottom: 20px;
      text-align: center;
      letter-spacing: 0.25em;

      @include mq(sp, 750) {
        margin-top: spSize(52);
        margin-bottom: spSize(20);
      }
    }

    &__copy {
      position: relative;
      z-index: 1;
      line-height: 2;
      text-align: center;
      letter-spacing: 0.05em;
    }

    &__btns {
      position: relative;
      z-index: 0;
      margin-top: 64px;

      @include mq(sp, 750) {
        position: static;
        margin-top: spSize(30);
      }

      &::before {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 0;
        display: block;
        width: 100%;
        height: 72%;
        content: "";
        background: $color04;
        transform: translateY(-50%);

        @include mq(sp, 750) {
          top: spSize(117);
          height: 52%;
          transform: none;
        }
      }

      .contentInner {
        @include mq(sp, 750) {
          padding-right: 0;
          padding-left: 0;
        }
      }

      ul {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 80px 0;

        @include mq(sp, 750) {
          gap: spSize(40);
        }

        li {
          a {
            @include hover {
              img {
                opacity: 0.7;
                transition: opacity 0.4s;
              }
            }
          }
          &:nth-of-type(1) {
            text-align: left;

            @include mq(sp, 750) {
              padding-right: 5%;
            }
          }

          &:nth-of-type(2) {
            @include mq(sp, 750) {
              padding-left: 5%;
            }
          }

          &:nth-of-type(3) {
            text-align: right;

            @include mq(sp, 750) {
              padding-right: 5%;
            }
          }

          img {
            @include mq(sp, 750) {
              width: 100%;
              height: auto;
            }
          }
        }
      }
    }
  }
}
