@use "../abstracts" as *;
@use "../components/_extend" as *;
@use "../components/general/_svg" as *;
@use "sass:math";

.c_ttl {
  &_h1 {
    font-weight: bold;
    text-align: center;
  }
  &_h2 {
    padding: 0;
    padding-left: 0.3em;
    margin: 1em 0;
    font-weight: bold;
    color: $color01;
    border-left: 4px solid $color01;
  }
}

#news_body {
  article {
    padding: 8rem 0;
    ul {
      padding-left: 1em;
      li {
        list-style-type: disc;
      }
    }
  }
}

.c_btn {
  margin: 1em auto;
}

.catBtn {
  padding: 0.3em 0.8em;
  color: $colorTextReversal;
  cursor: pointer;
  background-color: $color02;
  border-radius: 8px;
  &.-event {
    background-color: $color01;
  }
  &.-release {
    background-color: $color03;
  }
}

.newsList {
  &_item {
    display: flex;
    gap: 0 10px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.8em 0;
    border-bottom: 1px solid $colorText;
    dt {
      time {
        display: inline-block;
        width: 120px;
        margin-right: 0.5em;
      }
    }
  }
  margin-bottom: 50px;
}

.kvSlider {
  img {
    width: 100%;
    height: auto;
  }
  li {
    position: relative;
    a {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 5%;
      margin: auto;
      color: $colorTextReversal;
      background-color: rgba($colorText, 0.6);
      @include fontsize(26, 24);
    }
  }
}

#block-views-block-news-block-1 {
  max-width: $containerInner + px;
  margin: 3rem auto;
  h2 {
    @include fontsize(24, 20);
    padding-left: 0.3em;
    margin-bottom: 1.5em;
    border-left: 5px solid $colorDark;
  }
  .item-list {
    li {
      @include fontsize(16);
      padding-bottom: 0.3em;
      margin: 0;
      border-bottom: 1px solid $colorText;
      a {
        color: $colorText;
        text-decoration: none;
      }
      span + span {
        margin-left: 0.5em;
      }
      .views-field-created {
        color: $colorDark;
        @include fontsize(14);
      }
      .views-field-field-katekori {
        padding: 0.3em 0.5em;
        color: $colorDark;
        border: 1px solid $colorDark;
        @include fontsize(14);
      }
      &:not(:last-child) {
        margin-bottom: 1em;
      }
    }
  }
}

#block-views-block-voice-block-1 {
  max-width: $containerInner + px;
  margin: 3rem auto;
  h2 {
    @include fontsize(24, 20);
    padding-left: 0.3em;
    margin-bottom: 1.5em;
    border-left: 5px solid $colorDark;
  }
}

.voice-top {
  padding: 4rem 0;
  .view-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    justify-content: space-between;
    max-width: $containerInner + px;
    margin: auto;
  }
  .views-row {
    width: calc((100% - 20px) / 3);
    padding-bottom: 5px;
    border: 1px solid $colorDark;
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 300 / 157;
      object-fit: cover;
    }
  }
}

.top-voice-ttl {
  padding: 0 5%;
  @include fontsize(20);
  margin: 1em auto;
}

.top-voice-txt {
  padding: 0 5%;
  @include fontsize(16);
}

.c-btn {
  padding: 0;
}

.block-nadia-page-title {
  padding: 1em 0;
  @include fontsize(36);
  font-weight: bold;
  text-align: center;
  background-color: $colorLight;
}

.breadcrumb {
  background-color: $bgBody;
  a {
    color: $colorText;
  }
}

.page-title {
  padding: 3em;
  font-weight: bold;
  color: $color01;
  text-align: center;
  background-color: rgba($color02, 0.7);
  border-bottom: 1px solid $colorText;
}

.field--name-field-voice-kv,
.field--name-field-kv {
  img {
    width: 100%;
    height: auto;
  }
  margin-bottom: 1em;
}

.node__content {
  p {
    @include fontsize(16);
  }
}

.voice-page {
  padding: 5% 0;
  .view-content {
    display: flex;
    flex-wrap: wrap;
    gap: 0 10px;
    justify-content: space-between;
    max-width: $containerInner + px;
    margin: auto;
    .views-row {
      width: calc((100% - 20px) / 3);
      padding-bottom: 5px;
      border: 1px solid $colorDark;
      img {
        width: 100%;
        height: auto;
        aspect-ratio: 300 / 157;
        object-fit: cover;
      }
    }
  }
}

.news-page {
  padding: 5% 0;
  .view-content {
    max-width: $containerInner + px;
    margin: auto;
  }
  .item-list {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0 10px;
      justify-content: space-between;
      li {
        width: calc((100% - 20px) / 3);
        padding-bottom: 5px;
        margin: 0;
        border: 1px solid $colorDark;
        img {
          width: 100%;
          height: auto;
          aspect-ratio: 300 / 157;
          object-fit: cover;
        }
        > span {
          display: block;
          padding: 0 5%;
          &.views-field-created {
            @include fontsize(14);
          }
          &.views-field-field-katekori {
            span {
              padding: 0.3em 0.5em;
              color: $colorDark;
              border: 1px solid $colorDark;
              @include fontsize(14);
            }
          }
          &.views-field-title {
            @include fontsize(24);
          }
        }
      }
    }
  }
}

#block-nadia-breadcrumbs {
  display: none;
}

.borderBox {
  padding: 2em 3em;
  margin: 5% auto;
  background-color: $colorGrayScale;
  border: 1px solid $colorText;
  @include mq() {
    padding: 1em 1.5em;
    margin-top: 3em;
  }
  table {
    th,
    td {
      padding: 1.2em;
      letter-spacing: 0.05em;
      @include mq() {
        font-size: 1.3rem;
      }
    }
    th {
      width: 160px;
      padding-left: 0;
      font-weight: bold;
      @include mq() {
        padding-bottom: 0;
      }
      .-textBox {
        padding: 0.1em 0.3em 0.2em;
        font-weight: bold;
        line-height: 1;
      }
    }
    td {
      @include mq() {
        padding-left: 0;
      }
    }
    tr:last-of-type {
      border-bottom: 0;
    }
  }
}

.aboutContent {
  padding-top: 3%;
  margin-bottom: 5%;
  @include mq() {
    margin-bottom: 20%;
  }
  .aboutList {
    padding: 1.3em 0;
    @include mq() {
      padding: 1em 0;
    }
    dt {
      @include mq(min) {
        width: 180px;
      }
      @include mq() {
        margin-bottom: 0.5em;
      }
      .-textBox {
        padding-bottom: 0.2em;
        font-weight: bold;
        letter-spacing: 0.05em;
        @include mq() {
          font-size: 1.3rem;
        }
      }
    }
    dd {
      i {
        font-style: normal;
        font-weight: bold;
      }
    }
  }
}

.archiveList {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: start;
  &_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc((100% - 2rem * 2) / 3);
    padding: 1.5rem;
    background-color: $bgBody;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px 1.5px rgba($colorText, 0.35);
    img {
      width: 100%;
      height: auto;
      aspect-ratio: 800/600;
      object-fit: cover;
    }
  }
  &_txt {
    margin: 1em auto 0;
  }
  h3 {
    margin: 0.3em auto 0.5em;
    font-size: 2rem;
    font-weight: bold;
  }
}

.pagerList {
  display: flex;
  gap: 0 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
}
