@use "../abstracts" as *;
@use "../components/_extend" as *;
@use "../components/general/_svg" as *;
@use "sass:math";

.kvSlider {
  img {
    width: 100%;
    height: auto;
  }
  li {
    position: relative;
    a {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: auto;
      color: $colorTextReversal;
      background-color: rgba($colorText, 0.6);
      @include fontsize(26, 24);
    }
  }
}
