<!--インクルード：施設料金 -->

section#facilityPrice
  .contentInner.-small
    .columnRow.-wide
      .columnBlock.scrollIn.up.each
        h2.c_ttl_h2(id="price01") 無料
        include ../../../html/_includes/_price.html
      .columnBlock.scrollIn.up.each
        h2.c_ttl_h2(id="price02") 別料金
        include ../../../html/_includes/_price2.html
<!--/ブロック：施設料金 -->
